/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;

}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'TT Commons', 'Gulzar', serif;
    font-size: 1.2rem;
}

img {
    display: inline-block;
}

/* cursor effects */
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    border: 3px solid #444;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after,
.cursor::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    border-radius: 50px;
}

.cursor.click::before {
    animation: click 0.2s ease-in-out forwards;
}

@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        background-color: rgb(234, 0, 218);
    }

    99% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
        background-color: rgb(255, 0, 221);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
        background-color: rgb(247, 0, 0);
    }
}

.header {
    margin: 0;
    padding: 14px 0px;
    width: 100%;

    background-color: rgb(197, 255, 253);
    border-radius: 0px 0px 200px 0px;

}

.header__navbar_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
}

.header__img {
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    width: 35px;
    margin-right: 50px;
}

.navbar__img {
    width: 100%;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__item+.navbar__item {
    margin-left: 40px;
}

.navbar__item:nth-child(2) {
    margin-right: 40px;
}

.navbar__link {
    color: #000;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    font-weight: 500;
}

.navbar__item_select {
    width: 50px;
    height: 100%;
    padding: 4px 2px;
    border-radius: 5px;
    background-color: transparent;
}

.navbar__item_button {
    margin: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 0.5px solid #dddd;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__item_button_img {
    margin-right: 8px;
}

.header__main {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__main_left {
    margin: 0;
    padding: 0;
}

.header__main_left_heading {
    font-size: 105px;
    color: #000;
    line-height: 90px;
    font-family: 'Gulzar', sans-serif;
}

.header__main_right {
    margin: 0;
    padding: 0;
}

.header__main_right_desc {
    columns: #000;
    font-size: 15px;
}

.header__main_right_box {
    width: 140px;
    height: 140px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.header__main_right_sapan {
    margin: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}


/* main */
/* projects section */
.projects__section {
    margin: 0;
    padding-top: 50px;
}

.projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects__left {
    margin: 0;
    padding: 0;
}

.projects__left_span {
    font-size: 160px;
}

.projects__left_desc {
    margin: 0;
    font-size: 15px;
    text-transform: lowercase;
}

.projects__right {
    margin: 0;
    padding: 0;
}

.projects__right_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.projects__right_item {
    margin: 0;
    padding: 30px;
}

.projects__right_item_span {
    font-size: 70px;
}

.projects__right_item_desc {
    font-size: 15px;
    margin: 0;
    padding-top: 14px;
}

/* agenstve section */
.agenstve__section {
    margin: 0;
    padding-top: 40px;
}

.agenstve__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.agenstve__button {
    border-radius: 30px;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

.agenstve__hero {
    margin: 0;
    padding-top: 30px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.agenstve__title {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 22px;
}

.agenstve__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.agenstve__item {
    margin: 0;
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agenstve__span {
    padding-right: 15px;
    margin: 0;
    font-size: 13px;
    color: #ccc;
}

.agenstve__desc {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-size: 20px;
}

/* shop card section */
.shopcard__section {
    margin: 0;
    padding-top: 40px;
}

.shopcard__buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopcard__button {
    border: 2px solid #dddd;
    padding: 10px 20px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    font-weight: 500;
}

.shopcard {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0;
    padding-top: 40px;
}

.shopcard__box {
    margin: 0;
    padding: 0;
}

.shopcard__title {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.shopcard__list {
    list-style: none;
    margin: 0;
    padding: 20px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shopcard__item {
    padding-top: 40px;
}

.shopcard__img {
    width: 550px;
    height: 320px;
}

.shopcard__heading {
    margin: 0;
    padding-top: 13px;
    font-size: 24px;
    text-transform: capitalize;
}

.shopcard__desc {
    margin: 0;
    padding-top: 10px;
    font-size: 13px;
    color: #ccc;
}

.shopcard__spanbox {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shopcard__spanbox_span {
    font-size: 14px;
    color: #fff;
}

/* clients section */
.clientes__section {
    margin: 0;
    padding-top: 30px;
}

.clientes__desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.clientes__list {
    margin: 0;
    padding: 20px 0px 0px 0px;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.clients__item {
    margin: 0;
    padding-top: 50px;
    margin-left: 40px;
}

.clientes__item_img {
    object-fit: contain;
    width: 220px;
    height: 70px;
}

.clientes__buttonbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    margin: 0;
}

.clientes__buttonbox_button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    border-radius: 30px;
}

/* site section */

.site__section {
    margin-top: 50px;
    padding: 80px 0px 60px 0px;
    background-color: #000;
    border-radius: 0px 0px 320px 0px;
}

.site {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0px 30px 0px;
}

.site__left {
    margin-right: 50px;
    padding: 0;
}

.site__button {
    border: 2px solid #ccc;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #ccc;
    font-size: 16px;
    padding: 8px 20px;
}

.site__title {
    margin: 0;
    padding-top: 14px;
    font-size: 40px;
    color: #fff;
}

.site__desc {
    margin: 0;
    padding-top: 15px;
    font-size: 14px;
    color: #a5a3a3;
}

.site__right {
    margin: 0;
    padding: 0;
}

.site__right_button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.bi-arrow-right-circle {
    font-size: 50px;
    color: #a5a3a3;
}

/* address section */
.adress__section {
    margin-top: 50px;
    padding: 50px 0px 50px 0px;
    background-color: rgb(197, 255, 253);
}

.adress__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adress__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.adress__item {
    padding-top: 20px;
}

.adress__item_desc {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}

.adress__item_descs {
    font-size: 15px;
    margin: 0;
    padding-top: 12px;
}

.adress__item_link {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.adress__item_desc_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px 0px 0px 0px;
}

.adress__item_desc_list_item+.adress__item_desc_list_item {
    margin-left: 20px;
}

.adress__item_desc_list_item {
    padding: 4px 10px;
    border-radius: 50%;
    border: 1px solid #ddd !important;
}

.adress__item_desc_list_item_link {
    text-decoration: none;
    color: #000;
}

.adress__item_desc_list_item_link>.bi {
    font-size: 27px;
    color: #888;
    background-color: transparent;
}

.adress__right {
    margin: 0;
    padding: 0;
}

.adress__right_title {
    font-size: 44px;
    list-style: 50px;
}

.adress__right_title_button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #000;
    color: #cdcdcd;
    border-radius: 30px;
    font-size: 16px;
}

/* footer */

.footer {
    background-color: #000;
    padding: 20px 0px 20px 0px;
    margin-top: auto;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__desc {
    font-size: 14px;
    color: #ddd;
    margin: 0;
    padding: 0;

}

.footer__button {
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
}

.footer__button .bi-arrow-up-circle {
    font-size: 30px;
    color: #ccc;
}

/* effects style elements */
.effects:hover {
    transform: scale(1.1);
    transition: all 0.4s ease-in;
}

.navbar__link:hover {
    opacity: 0.6;
    color: #3c3b3b;
}

.button:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}

.clientes__item_img:hover {
    transform: scale(0.8);
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.shopcard__img:hover {
    transform: scaleY(1.1);
    cursor: pointer;
    transition: all 0.5s ease-in;
    border-radius: 40px 0px 40px 0px;
    opacity: 0.6;
}

.adress__item_desc_list_item_link:hover {
    color: #3c3b3b;
}

.buttons:hover {
    transform: scale(1.1);
    background-color: #3c3b3b;
    color: #fff;
    transition: all 0.6s ease-in-out;
}

.buttonEffects:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: rgb(54, 53, 53);
    transition: all 0.7s ease-out;
    font-weight: bold;
}

.linkEffects:hover {
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
    font-weight: 500;
    color: #3c3b3b;
}

.hoverEffects:hover {
    transform: scale(1.1);
    background-color: #3c3b3b;
    border: 2px solid #000;
    transition: all 0.6s ease-in;
    color: #fff;
}

.shopcardButtonEffects:hover {
    transform: scale(1.1);
    background-color: #333333;
    border: 2px solid rgb(255, 0, 255);
    transition: all 0.6s ease-in;
    color: #fff;
}

.pohonebuttonEffects:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    border: 2px solid rgb(2, 200, 255);
    transition: all 0.6s ease-in;
    color: #000;
}

.clientsbuttonEffects:hover {
    transform: scale(1.1);
    background-color: #000;
    border: 2px solid rgb(2, 200, 255);
    transition: all 0.6s ease-in;
    color: #fff;
}

.effectsAdress:hover {
    transform: scale(1.1);
    background-color: rgb(149, 227, 255);
    transition: all 0.5s ease-in;
    color: aqua;
}

/* RESPONSIVE WEB SITE */

@media screen and (max-width:1025px) {
    .header__main_left_heading {
        font-size: 75px;
    }

    .projects__left_span {
        font-size: 130px;
    }

    .projects__right_item {
        padding: 16px;
        font-size: 57px;
    }

    .shopcard__img {
        width: 430px;
        height: 270px;
    }

    .clientes__item_img {
        width: 196px;
    }
}

@media screen and (max-width:769px) {
    .header__main_left_heading {
        font-size: 60px;
    }

    .header__main_right_box {
        margin-top: 0;
    }

    .projects__left_span {
        font-size: 90px;
    }

    .projects__right_item_span {
        font-size: 60px;
    }

    .projects__right_item {
        padding: 16px;
        font-size: 57px;
    }

    .shopcard__img {
        width: 340px;
        height: 240px;
    }

    .navbar__item {
        margin-left: 20px;
    }

    .navbar__item+.navbar__item {
        margin-right: 20px;
    }
}

@media screen and (max-width:426px) {
    .shopcard__list {
        padding: 0;
        margin: 0;
    }

    .clients__item {
        margin: 0;
    }

    .shopcard__img {
        width: 100%;
        height: 240px;
    }

    .clientes__item_img {
        width: 150px;
    }

    .site__title {
        font-size: 30px;
    }

    .adress__right_title {
        font-size: 30px;
    }

    .navbar__list {
        display: none;
    }

    .navbar__list {
        left: -100%;
    }

    .showBlock {
        display: block;
        position: fixed;
        top: 12%;
        left: 0%;
        z-index: 99;
        width: 80%;
        background-color: rgb(161, 255, 255);
        color: #3c3b3b;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        transition: all 0.6s ease-in;
    }

    .showBlock .navbar__item {
        margin: 0;
        padding: 10px;
    }
}

@media screen and (max-width:426px) {
    .site__title {
        font-size: 20px;
    }
}

/* scroll style */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(149, 234, 247);
}